<div class="navbar navbar-default navbar-fixed-bottom">
   <div class="container">
      <p class="navbar-text pull-left">© 2021 - FitnessMantra All rights reserved
         <a href="/about" target="_blank">About |</a>
         <a href="/bodybuilding" target="_blank">Bodybuilding |</a>
         <a href="/meditation" target="_blank">Meditation |</a>
         <a href="/yoga" target="_blank">Yoga |</a>
         <a href="/experience/add" target="_blank">Teach the world! </a>
      </p>

      <a href="" class="navbar-btn btn-danger btn pull-right">
         <span class="glyphicon glyphicon-star"></span> FitnessMantra </a>
   </div>
</div>