<header>
   <div class="collapse bg-dark" id="navbarHeader">
      <ul class="nav nav-pills nav-justified">
         <li class="nav-item">
            <a class="nav-link active bg-transparent" href="/Index">Home</a>
         </li>
         <li class="nav-item">
            <a class="nav-link active bg-transparent" href="/Bodybuilding">Bodybuilding</a>
         </li>
         <li class="nav-item">
            <a class="nav-link active bg-transparent" href="/Yoga">Yoga</a>
         </li>
         <li class="nav-item">
            <a class="nav-link active bg-transparent" href="/Meditation">Meditation</a>
         </li>
         <li>
            <!-- Google Translate element (JS in main.handlebars)-->
            <div id="google_translate_element" class="pt-2"></div>
         </li>
      </ul>
   </div>
   <div class="navbar navbar-dark bg-dark shadow-sm">
      <div class="container">
         <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader"
            aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
         </button>
      </div>
   </div>
</header>