<nav class="navbar navbar-expand-sm navbar-dark bg-dark mb-3">
   <div class="container">
      <div class="container-fluid">
         <a class="navbar-brand" href="/">FitnessMantra</a>
         <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
         </button>
         <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
               <a class="nav-link" aria-current="page" href="/">Home</a>
               <a class="nav-link" href="/about">About</a>
               <a class="nav-link" href="/bodybuilding">Bodybuilding</a>
               <a class="nav-link" href="/yoga">Yoga</a>
               <a class="nav-link" href="/meditation">Meditation</a>
            </div>
            <div class = "navbar-nav ml-auto">
               <li class="nav-item dropdown">
                  <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" id="navbarDropdownMenuLink">Todos</a>
                  <div class="dropdown-menu">
                     <a href="/todo" class="dropdown-item">Todo List</a>
                     <a href="/todo/add" class="dropdown-item">Add Todos</a>
                  </div>
               </li>
            </div>
         </div>
      </div>
   </div>
</nav>