<h1>About FitnessMantra update</h1>
<p>Write description here</p>

<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Rohit Choudhary</h5>
    <p class="card-text">Roles and duties here</p>
    <a href="https://www.linkedin.com/in/rohitc87/" class="btn btn-dark">LinkedIn</a>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Name2</h5>
    <p class="card-text">Roles and duties here</p>
    <a href="https://www.linkedin.com/in/rohitc87/" class="btn btn-dark">LinkedIn</a>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Name2</h5>
    <p class="card-text">Roles and duties here</p>
    <a href="https://www.linkedin.com/in/rohitc87/" class="btn btn-dark">LinkedIn</a>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Name2</h5>
    <p class="card-text">Roles and duties here</p>
    <a href="https://www.linkedin.com/in/rohitc87/" class="btn btn-dark">LinkedIn</a>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Name2</h5>
    <p class="card-text">Roles and duties here</p>
    <a href="https://www.linkedin.com/in/rohitc87/" class="btn btn-dark">LinkedIn</a>
  </div>
</div>