{{#section 'head'}}
<title>FitnessMantra | Dashboard</title>

<!-- Custom stylesheet (https://tinyurl.com/y57wvew3)-->
<link href="/public/css/dashboard.css" rel="stylesheet">
{{/section}}


<div class="jumbotron jumbotron-1 text-center">
  <h1 class="display-3 ">Welcome Fitness Freaks</h1>
  <p class="lead lead_index">Explore all the Mantras and achieve your fitness goals</p>
  <p class="lead lead_index">Or be a teacher and share your experience with the world</p>
  <a href="/todo/add" class="btn btn-lg btn-dark">To do!</a>
  <a href="/experience/add" class="btn btn-lg btn-dark">Teach the World!</a>
</div>