{{#section 'head'}}
<title>FitnessMantra | Yoga</title>

<!-- Custom inline style (https://tinyurl.com/yk33nb59) -->
<style>
    .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
    }
</style>
{{/section}}


<!-- Main yoga page info -->
<main>
    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Yoga Mantra</h1>
                <p class="lead text-muted">Learn about yoga according to your experience level.</p>
            </div>
        </div>
    </section>

    <!-- Bootstrap 'card' describing beginners content -->
    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div class="col">
                    <div class="card shadow-sm">
                        <img src="img/yoga_beg.jpg">
                        <div class="card-body">
                            <h5 class="card-title">Beginner</h5>
                            <p class="card-text">Recommended for those new to yoga or for those looking for a gentle
                                practice.
                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a href="#beginner"><button type="button"
                                            class="btn btn-sm btn-outline-secondary">View</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Bootstrap 'card' describing intermediate content -->
                <div class="col">
                    <div class="card shadow-sm">
                        <img src="img/yoga_int.jpg">
                        <div class="card-body">
                            <h5 class="card-title">Intermediate</h5>
                            <p class="card-text">Recommended for those looking to start building endurance and strength.
                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a href="#intermediate"><button type="button"
                                            class="btn btn-sm btn-outline-secondary">View</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Bootstrap 'card' describing advanced content -->
                <div class="col">
                    <div class="card shadow-sm">
                        <img src="img/yoga_adv.jpg">
                        <div class="card-body">
                            <h5 class="card-title">Advanced</h5>
                            <p class="card-text">Recommended for those looking for a faster-paced and more challenging
                                practice.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a href="#advanced"><button type="button"
                                            class="btn btn-sm btn-outline-secondary">View</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Row header for 'Beginner' content -->
    <div class="container text-center bg-success text-white opacity-75" id="beginner">
        <div class="row">
            <div class="col">
                <div class="p-3">Beginner</div>
            </div>
        </div>
    </div>

    <!-- Beginner content -->
    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-3">
                <div class="col">
                    <div class="card shadow-sm">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe width="100%" height="225" src="https://www.youtube.com/embed/l8zqU3FpQPA"
                                frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                        </div>
                        <div class="card-body">
                            <p class="card-text">Patrick Beach | Yoga Strength for Beginners</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                            xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false">
                            <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef"
                                dy=".3em">Thumbnail</text>
                        </svg>
                        <div class="card-body">
                            <p class="card-text">Content AUTHOR and TITLE will go here.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                            xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false">
                            <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef"
                                dy=".3em">Thumbnail</text>
                        </svg>
                        <div class="card-body">
                            <p class="card-text">Content AUTHOR and TITLE will go here.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                            xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false">
                            <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef"
                                dy=".3em">Thumbnail</text>
                        </svg>
                        <div class="card-body">
                            <p class="card-text">Content AUTHOR and TITLE will go here.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Row header for 'Intermediate' content -->
    <div class="container text-center bg-warning opacity-75" id="intermediate">
        <div class="row">
            <div class="col">
                <div class="p-3">Intermediate</div>
            </div>
        </div>
    </div>

    <!-- Intermediate content -->
    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-3">
                <div class="col">
                    <div class="card shadow-sm">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe width="100%" height="225" src="https://www.youtube.com/embed/A4ViwsLKoSY"
                                frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                        </div>
                        <div class="card-body">
                            <p class="card-text">Briohny Smyth | 30-Minute Energizing Power Vinyasa Flow</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                            xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false">
                            <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef"
                                dy=".3em">Thumbnail</text>
                        </svg>
                        <div class="card-body">
                            <p class="card-text">Content AUTHOR and TITLE will go here.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                            xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false">
                            <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef"
                                dy=".3em">Thumbnail</text>
                        </svg>
                        <div class="card-body">
                            <p class="card-text">Content AUTHOR and TITLE will go here.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                            xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false">
                            <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef"
                                dy=".3em">Thumbnail</text>
                        </svg>
                        <div class="card-body">
                            <p class="card-text">Content AUTHOR and TITLE will go here.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Row header for 'Advanced' content -->
    <div class="container text-center bg-danger text-white opacity-75" id="advanced">
        <div class="row">
            <div class="col">
                <div class="p-3">Advanced</div>
            </div>
        </div>
    </div>

    <!-- Advanced content -->
    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-3">
                <div class="col">
                    <div class="card shadow-sm">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe width="100%" height="225" src="https://www.youtube.com/embed/v6oE5zNbt1c"
                                frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                        </div>
                        <div class="card-body">
                            <p class="card-text">Nicole Wild | 60-Minute Advanced Yoga Flow</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                            xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false">
                            <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef"
                                dy=".3em">Thumbnail</text>
                        </svg>
                        <div class="card-body">
                            <p class="card-text">Content AUTHOR and TITLE will go here.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                            xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false">
                            <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef"
                                dy=".3em">Thumbnail</text>
                        </svg>
                        <div class="card-body">
                            <p class="card-text">Content AUTHOR and TITLE will go here.</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                            xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false">
                            <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef"
                                dy=".3em">Thumbnail</text>
                        </svg>
                        <div class="card-body">
                            <p class="card-text">Content AUTHOR and TITLE will go here.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>